
.product-images>li.thumb-container>.thumb.selected, .product-images>li.thumb-container>.thumb:hover{border: 3px solid #02cd00!important;}
.dropdown .expand-more, #header .header-nav .currency-selector{color: !important}
/*buton*/

.btn-primary {
    color: #ffffff!important;
    background-color: #02cd00!important;
}
.btn-primary.disabled.focus, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary:disabled.focus, .btn-primary:disabled:focus, .btn-primary:disabled:hover {
    background-color: #02cd00!important;
    border-color: transparent;
}
.btn-primary.focus, .btn-primary:focus, .btn-primary:hover,.tag-primary[href]:focus, .tag-primary[href]:hover  { background-color: #ffffff!important;}

.btn-outline-primary.active, .btn-outline-primary.focus, .btn-outline-primary:active, .btn-outline-primary:focus, .btn-outline-primary:hover, .open>.btn-outline-primary.dropdown-toggle {
    color: #ffffff!important;
    background-color: #02cd00!important;
    border-color: #2fb5d2;
}
.dropdown-item.active, .dropdown-item.active:focus, .dropdown-item.active:hover {
    color: #ffffff!important;
    text-decoration: none;
    background-color: #02cd00!important;
    outline: 0;
}
.nav-pills .nav-item.open .nav-link, .nav-pills .nav-item.open .nav-link:focus, .nav-pills .nav-item.open .nav-link:hover, .nav-pills .nav-link.active, .nav-pills .nav-link.active:focus, .nav-pills .nav-link.active:hover {
    color: #ffffff!important;
    cursor: default;
    background-color: #02cd00!important;
}
.card-primary {
    background-color: #02cd00!important;
    border-color: #2fb5d2;
}
.page-item.active .page-link, .page-item.active .page-link:focus, .page-item.active .page-link:hover {
    z-index: 2;
    color: #ffffff!important;
    cursor: default;
    background-color: #02cd00!important;
    border-color: #2fb5d2;
}
.tag-primary {
    background-color: #02cd00!important;
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 2;
    color: #ffffff!important;
    text-decoration: none;
    background-color: #02cd00!important;
    border-color: #2fb5d2;
}
.custom-radio input[type=radio]:checked+span {
    background-color: #02cd00!important;

}
.block-social li:hover {
    background-color: #02cd00!important;
}
.tabs .nav-tabs .nav-link.active, .tabs .nav-tabs .nav-link:hover {
    border: none;
    border-bottom: 3px solid #02cd00!important;
}
.tabs .nav-tabs .nav-link.active {
    color: #02cd00!important;
}
a, #footer .h1,#footer .h2,#footer .h3, .block-contact .block-contact-title, .linklist .blockcms-title a {
    color: #009590!important;
    text-decoration: none;
}
#header .header-nav .cart-preview.active {
    background: !important;
}
/*prices*/
.product-price, .cart-summary-line .value,#products .product-price-and-shipping, .featured-products .product-price-and-shipping, .product-accessories .product-price-and-shipping, .product-miniature .product-price-and-shipping{
 color: !important;	
	}
/*wrapper*/
#wrapper,.product-customization .product-message,.search-widget form input[type=text], .block_newsletter form input[type=text] {
    background: #d2d2d2!important;
  
}
.tag-default {
    background: #d2d2d2!important;
}
.bootstrap-touchspin .btn-touchspin:hover {
    background-color: #d2d2d2!important;
}
body#checkout .modal-content {
    background-color: #d2d2d2!important;
}
.block-social li {
    background-color: #d2d2d2!important;
}
#footer {
    background-color: #3e3e3e!important;
}
#header {
    background: #3e3e3e!important;
}
/*blocks*/
#search_filters, #search_filters_brands, #search_filters_suppliers, .block-categories, .card{
	  background: #8affed!important;
	}
#products .product-description, .featured-products .product-description, .product-accessories .product-description, .product-miniature .product-description, #products .thumbnail-container, .featured-products .thumbnail-container, .product-accessories .thumbnail-container, .product-miniature .thumbnail-container
{
	    background: !important;
}
#header .header-nav .cart-preview.active i, #header .header-nav .cart-preview.active a{color:!important}
	